In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/samedelstein/snow_map_dashboard/refs/heads/main/data/snapshot_snow_routes/snapshots.csv')

,snapshot_ts,OBJECTID,snowrouteid,snowroutesegmentid,roadname,routepriority,roadclass,segmentlength,servicestatus,lastserviced,lastserviceleft,lastserviceright,passes,passesleft,passesright,eventid,eventphaseid,gap,new_event,event_id
0,2025-12-26T19:01:45.962242+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-23 09:36:59+00:00,1.766483e+12,1.766482e+12,85.0,38.0,47.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,NaT,False,0
13176,2025-12-27T10:41:24.742260+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-27 10:30:36+00:00,1.766483e+12,1.766831e+12,86.0,38.0,48.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-3,0 days 00:32:30,True,17
13405,2025-12-27T10:50:55.164198+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-27 10:44:04+00:00,1.766832e+12,1.766832e+12,89.0,40.0,49.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-3,0 days 00:15:34,False,17
16281,2025-12-27T15:54:16.974219+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-27 15:45:56+00:00,1.766850e+12,1.766832e+12,90.0,41.0,49.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-3,0 days 00:13:48,False,17
20508,2025-12-28T03:16:23.785690+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-28 01:54:14+00:00,1.766850e+12,1.766887e+12,91.0,41.0,50.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-3,0 days 00:57:50,True,30
21041,2025-12-28T04:16:47.806127+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-28 03:39:51+00:00,1.766850e+12,1.766893e+12,93.0,41.0,52.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-3,0 days 01:35:15,True,30
26212,2025-12-28T15:52:07.389441+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-28 15:40:55+00:00,1.766936e+12,1.766893e+12,94.0,42.0,52.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-3,0 days 00:04:39,False,31
26393,2025-12-28T16:26:23.127615+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-28 16:10:47+00:00,1.766936e+12,1.766938e+12,95.0,42.0,53.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-3,0 days 00:19:49,False,31
32986,2025-12-29T19:40:27.944769+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-29 19:27:45+00:00,1.766936e+12,1.767036e+12,96.0,42.0,54.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-4,0 days 00:12:09,False,35
33187,2025-12-29T20:38:07.980272+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-29 20:05:28+00:00,1.767039e+12,1.767036e+12,97.0,43.0,54.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-4,0 days 00:02:03,False,35

In [80]:
EVENT_START = pd.Timestamp("2025-12-26 18:18:15", tz="UTC")

segment_first_service = (
    df
    .dropna(subset=["lastserviced"])
    .loc[df["lastserviced"] > EVENT_START]
    .groupby("snowroutesegmentid")
    .agg(
        first_serviced=("lastserviced", "min"),
        snowrouteid=("snowrouteid", "first"),
        routepriority=("routepriority", "first"),
        roadname=("roadname", "first")
    )
    .reset_index()
)

In [82]:
segment_first_service = segment_first_service.sort_values("first_serviced")

segment_first_service["rank"] = range(1, len(segment_first_service) + 1)
segment_first_service["total_segments"] = len(segment_first_service)

In [94]:
NOW = df["snapshot_ts"].max()
NOW = pd.to_datetime(NOW, utc=True)  # harmless if already Timestamp

print("EVENT_START:", EVENT_START, type(EVENT_START))
print("NOW:", NOW, type(NOW))
segment_first_service["serviced_so_far"] = (
    segment_first_service["first_serviced"] <= NOW
)

Z = segment_first_service["serviced_so_far"].sum()

EVENT_START: 2025-12-26 18:18:15+00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
NOW: 2025-12-29 22:58:03.640346+00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [95]:
def street_progress(segment_id):
    row = segment_first_service.loc[
        segment_first_service["snowroutesegmentid"] == segment_id
    ].iloc[0]

    return {
        "rank": int(row["rank"]),
        "total": int(row["total_segments"]),
        "serviced_so_far": int(Z),
        "remaining_before_you": int(row["rank"] - Z - 1)
    }

In [96]:
segment_first_service["minutes_from_start"] = (
    segment_first_service["first_serviced"] - EVENT_START
).dt.total_seconds() / 60

In [97]:
segment_first_service

,snowroutesegmentid,first_serviced,snowrouteid,routepriority,roadname,rank,total_segments,serviced_so_far,minutes_from_start,route_median,bucket
0,SNW-83,2025-12-26 18:18:27+00:00,Route 31,Priority 1,S MIDLER AV,1,4202,True,0.200000,2025-12-28 11:04:36+00:00,Very Early
1,SNW-2124,2025-12-26 18:18:45+00:00,Route 31,Priority 1,S MIDLER AV,2,4202,True,0.500000,2025-12-28 11:04:36+00:00,Very Early
2,SNW-2013,2025-12-26 18:18:56+00:00,Route 31,Priority 1,S MIDLER AV,3,4202,True,0.683333,2025-12-28 11:04:36+00:00,Very Early
3,SNW-1883,2025-12-26 18:19:18+00:00,Route 31,Priority 1,S MIDLER AV,4,4202,True,1.050000,2025-12-28 11:04:36+00:00,Very Early
4,SNW-874,2025-12-26 18:19:47+00:00,Route 31,Priority 1,S MIDLER AV,5,4202,True,1.533333,2025-12-28 11:04:36+00:00,Very Early
...,...,...,...,...,...,...,...,...,...,...,...
4197,SNW-1014,2025-12-29 22:15:45+00:00,Route 18,Priority 1,PARK ST,4198,4202,True,4557.500000,2025-12-27 14:42:04+00:00,Very Late
4198,SNW-978,2025-12-29 22:15:56+00:00,Route 18,Priority 1,PARK ST,4199,4202,True,4557.683333,2025-12-27 14:42:04+00:00,Very Late
4199,SNW-239,2025-12-29 22:22:48+00:00,Route 2,Priority 2,SALT ST,4200,4202,True,4564.550000,2025-12-27 19:15:01+00:00,Very Late
4200,SNW-2186,2025-12-29 22:28:14+00:00,Route 36,Priority 1,S WEST ST,4201,4202,True,4569.983333,2025-12-27 22:03:51+00:00,Very Late
4201,SNW-885,2025-12-29 22:34:49+00:00,Route 25,Priority 2,SIXTH NORTH ST,4202,4202,True,4576.566667,2025-12-26 22:07:54+00:00,Very Late

In [98]:
elapsed_minutes = (NOW - EVENT_START).total_seconds() / 60
segments_completed = Z

avg_minutes_per_segment = elapsed_minutes / max(segments_completed, 1)

In [103]:
route_summary = (
    segment_first_service
    .groupby("snowrouteid")
    .agg(
        route_first=("first_serviced", "min"),
        route_median=("first_serviced", "median"),
        route_rank=("rank", "median"),
        segments=("snowroutesegmentid", "count")
    )
    .reset_index()
)

In [104]:
route_summary

,snowrouteid,route_first,route_median,route_rank,segments
0,Route 01,2025-12-26 20:05:48+00:00,2025-12-27 01:00:58.500000+00:00,1079.5,48
1,Route 02,2025-12-26 20:15:05+00:00,2025-12-26 20:56:05+00:00,318.0,81
2,Route 1,2025-12-26 19:33:06+00:00,2025-12-26 22:39:14.500000+00:00,907.5,294
3,Route 10,2025-12-26 20:50:25+00:00,2025-12-27 06:27:24+00:00,1755.0,76
4,Route 11,2025-12-26 21:36:54+00:00,2025-12-27 07:02:39+00:00,1816.5,62
5,Route 12,2025-12-26 18:39:25+00:00,2025-12-27 07:52:25+00:00,1911.0,57
6,Route 13,2025-12-26 20:57:47+00:00,2025-12-27 15:30:43.500000+00:00,2519.0,80
7,Route 14,2025-12-26 21:02:25+00:00,2025-12-27 01:29:31+00:00,1131.0,77
8,Route 15,2025-12-27 01:52:45+00:00,2025-12-27 04:07:17+00:00,1514.0,41
9,Route 16,2025-12-26 20:22:57+00:00,2025-12-27 09:54:22+00:00,2040.5,66
10,Route 17,2025-12-26 20:31:38+00:00,2025-12-27 16:46:20.500000+00:00,2650.5,82
11,Route 18,2025-12-26 20:22:28+00:00,2025-12-27 14:42:04+00:00,2465.0,119
12,Route 19,2025-12-26 20:13:47+00:00,2025-12-27 05:40:43+00:00,1624.0,99
13,Route 2,2025-12-26 18:37:55+00:00,2025-12-27 19:15:01+00:00,2867.5,1038
14,Route 20,2025-12-26 20:08:55+00:00,2025-12-26 23:38:58+00:00,988.0,65
15,Route 21,2025-12-26 20:21:46+00:00,2025-12-26 21:56:36+00:00,736.5,24
16,Route 22,2025-12-26 20:03:25+00:00,2025-12-27 09:25:27.500000+00:00,1984.5,74
17,Route 23,2025-12-26 20:35:27+00:00,2025-12-27 09:28:03.500000+00:00,1994.5,90
18,Route 24,2025-12-26 20:39:15+00:00,2025-12-27 07:25:04+00:00,1871.0,53
19,Route 25,2025-12-26 20:19:56+00:00,2025-12-26 22:07:54+00:00,811.0,107
20,Route 26,2025-12-27 03:46:05+00:00,2025-12-27 22:38:08+00:00,3116.0,61
21,Route 27,2025-12-26 21:25:38+00:00,2025-12-27 03:33:24.500000+00:00,1458.5,74
22,Route 28,2025-12-26 18:19:53+00:00,2025-12-27 18:09:25+00:00,2811.0,61
23,Route 29,2025-12-26 20:09:59+00:00,2025-12-27 05:59:17+00:00,1672.0,29
24,Route 3,2025-12-26 19:06:31+00:00,2025-12-26 22:07:07+00:00,805.0,71
25,Route 30,2025-12-26 20:55:24+00:00,2025-12-27 06:38:04.500000+00:00,1772.0,42
26,Route 31,2025-12-26 18:18:27+00:00,2025-12-28 11:04:36+00:00,3829.0,81
27,Route 32,2025-12-27 09:11:45+00:00,2025-12-27 14:02:19+00:00,2366.0,57
28,Route 33,2025-12-26 21:04:49+00:00,2025-12-27 04:03:03+00:00,1503.5,94
29,Route 34,2025-12-26 22:17:14+00:00,2025-12-27 03:23:38+00:00,1420.0,85
30,Route 35,2025-12-26 20:27:38+00:00,2025-12-28 08:47:59.500000+00:00,3687.5,70
31,Route 36,2025-12-26 20:48:26+00:00,2025-12-27 22:03:51+00:00,3052.5,60
32,Route 4,2025-12-26 21:07:18+00:00,2025-12-27 02:22:55.500000+00:00,1257.5,76
33,Route 5,2025-12-26 20:08:28+00:00,2025-12-26 22:17:45+00:00,847.0,51
34,Route 6,2025-12-26 19:49:36+00:00,2025-12-27 02:13:35+00:00,1223.5,50
35,Route 7,2025-12-26 20:26:26+00:00,2025-12-26 21:18:00+00:00,552.0,73
36,Route 8,2025-12-26 19:52:38+00:00,2025-12-27 07:25:17+00:00,1880.5,68
37,Route 9,2025-12-26 19:55:17+00:00,2025-12-27 06:25:50+00:00,1716.0,60

In [105]:
segment_first_service = segment_first_service.merge(
    route_summary[["snowrouteid", "route_median"]],
    on="snowrouteid",
    how="left"
)

segment_first_service["route_adjusted_eta_minutes"] = (
    segment_first_service["route_median"] - NOW
).dt.total_seconds() / 60

In [106]:
segment_first_service["bucket"] = pd.qcut(
    segment_first_service["rank"],
    q=5,
    labels=[
        "Very Early",
        "Early",
        "Middle",
        "Late",
        "Very Late"
    ]
)

In [107]:
segment_first_service

,snowroutesegmentid,first_serviced,snowrouteid,routepriority,roadname,rank,total_segments,serviced_so_far,minutes_from_start,route_median_x,bucket,route_median_y,route_median,route_adjusted_eta_minutes
0,SNW-83,2025-12-26 18:18:27+00:00,Route 31,Priority 1,S MIDLER AV,1,4202,True,0.200000,2025-12-28 11:04:36+00:00,Very Early,2025-12-28 11:04:36+00:00,2025-12-28 11:04:36+00:00,-2153.460672
1,SNW-2124,2025-12-26 18:18:45+00:00,Route 31,Priority 1,S MIDLER AV,2,4202,True,0.500000,2025-12-28 11:04:36+00:00,Very Early,2025-12-28 11:04:36+00:00,2025-12-28 11:04:36+00:00,-2153.460672
2,SNW-2013,2025-12-26 18:18:56+00:00,Route 31,Priority 1,S MIDLER AV,3,4202,True,0.683333,2025-12-28 11:04:36+00:00,Very Early,2025-12-28 11:04:36+00:00,2025-12-28 11:04:36+00:00,-2153.460672
3,SNW-1883,2025-12-26 18:19:18+00:00,Route 31,Priority 1,S MIDLER AV,4,4202,True,1.050000,2025-12-28 11:04:36+00:00,Very Early,2025-12-28 11:04:36+00:00,2025-12-28 11:04:36+00:00,-2153.460672
4,SNW-874,2025-12-26 18:19:47+00:00,Route 31,Priority 1,S MIDLER AV,5,4202,True,1.533333,2025-12-28 11:04:36+00:00,Very Early,2025-12-28 11:04:36+00:00,2025-12-28 11:04:36+00:00,-2153.460672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4197,SNW-1014,2025-12-29 22:15:45+00:00,Route 18,Priority 1,PARK ST,4198,4202,True,4557.500000,2025-12-27 14:42:04+00:00,Very Late,2025-12-27 14:42:04+00:00,2025-12-27 14:42:04+00:00,-3375.994006
4198,SNW-978,2025-12-29 22:15:56+00:00,Route 18,Priority 1,PARK ST,4199,4202,True,4557.683333,2025-12-27 14:42:04+00:00,Very Late,2025-12-27 14:42:04+00:00,2025-12-27 14:42:04+00:00,-3375.994006
4199,SNW-239,2025-12-29 22:22:48+00:00,Route 2,Priority 2,SALT ST,4200,4202,True,4564.550000,2025-12-27 19:15:01+00:00,Very Late,2025-12-27 19:15:01+00:00,2025-12-27 19:15:01+00:00,-3103.044006
4200,SNW-2186,2025-12-29 22:28:14+00:00,Route 36,Priority 1,S WEST ST,4201,4202,True,4569.983333,2025-12-27 22:03:51+00:00,Very Late,2025-12-27 22:03:51+00:00,2025-12-27 22:03:51+00:00,-2934.210672
4201,SNW-885,2025-12-29 22:34:49+00:00,Route 25,Priority 2,SIXTH NORTH ST,4202,4202,True,4576.566667,2025-12-26 22:07:54+00:00,Very Late,2025-12-26 22:07:54+00:00,2025-12-26 22:07:54+00:00,-4370.160672

In [13]:
df["lastserviced"] = pd.to_datetime(
    df["lastserviced"],
    unit="ms",
    utc=True
)

In [7]:
out = (
    df.groupby(["snowroutesegmentid"])
      .size()
      .reset_index(name="count")
      .sort_values("count", ascending=False)
)
out

     snowroutesegmentid  count
3417            SNW-409    159
4572            SNW-598     76
1315           SNW-2184     76
4672            SNW-688     76
4766            SNW-772     75
...                 ...    ...
3426           SNW-4098      1
3421           SNW-4093      1
3406            SNW-408      1
3401           SNW-4075      1
5017            SNW-999      1

[5018 rows x 2 columns]

In [9]:
df["lastserviced"] = pd.to_datetime(df["lastserviced"])
df = df.sort_values("lastserviced")

In [15]:
counts = (
    df.set_index("lastserviced")
      .resample("5min")
      .size()
      .rename("count")
      .reset_index()
)

In [25]:
events

                        start_time                  end_time  n_records
event_id
-1       2025-10-27 16:37:45+00:00 2025-12-29 10:16:06+00:00        193
 15      2025-11-11 05:51:25+00:00 2025-11-11 06:31:21+00:00          9
 26      2025-11-11 17:58:26+00:00 2025-11-11 18:31:21+00:00          5
 27      2025-12-03 04:05:14+00:00 2025-12-03 04:06:13+00:00          7
 25      2025-12-11 09:13:15+00:00 2025-12-11 09:48:42+00:00          5
 28      2025-12-12 06:30:45+00:00 2025-12-12 06:46:56+00:00          8
 2       2025-12-13 02:45:11+00:00 2025-12-13 03:45:57+00:00         13
 22      2025-12-13 04:40:56+00:00 2025-12-13 05:17:35+00:00          5
 9       2025-12-13 09:22:10+00:00 2025-12-13 09:44:48+00:00          9
 29      2025-12-13 14:22:27+00:00 2025-12-13 14:53:57+00:00          5
 10      2025-12-14 13:46:57+00:00 2025-12-14 16:26:10+00:00         25
 14      2025-12-14 16:42:34+00:00 2025-12-14 17:33:06+00:00          5
 13      2025-12-14 18:00:44+00:00 2025-12-14 18:49:16+00:00          7
 21      2025-12-14 20:00:38+00:00 2025-12-14 20:26:43+00:00          5
 6       2025-12-15 01:02:21+00:00 2025-12-15 10:31:38+00:00        178
 24      2025-12-15 13:20:06+00:00 2025-12-15 13:41:54+00:00          6
 8       2025-12-15 16:06:15+00:00 2025-12-15 16:45:36+00:00         20
 20      2025-12-15 17:23:26+00:00 2025-12-15 19:01:39+00:00         33
 23      2025-12-16 04:47:19+00:00 2025-12-16 05:31:18+00:00          7
 12      2025-12-19 18:55:59+00:00 2025-12-19 22:11:09+00:00         49
 1       2025-12-22 04:18:23+00:00 2025-12-22 10:53:35+00:00        885
 5       2025-12-22 12:48:26+00:00 2025-12-22 19:45:25+00:00       1364
 19      2025-12-23 04:03:15+00:00 2025-12-23 04:42:48+00:00          8
 0       2025-12-23 08:29:19+00:00 2025-12-23 10:55:16+00:00       1552
 18      2025-12-23 15:19:00+00:00 2025-12-23 16:16:44+00:00         11
 7       2025-12-23 18:17:15+00:00 2025-12-23 18:53:08+00:00         35
 3       2025-12-24 03:35:25+00:00 2025-12-24 05:00:45+00:00         67
 16      2025-12-24 14:06:18+00:00 2025-12-24 14:16:27+00:00         31
 11      2025-12-24 16:08:24+00:00 2025-12-24 17:08:07+00:00         37
 17      2025-12-26 18:18:15+00:00 2025-12-27 23:46:08+00:00      15294
 30      2025-12-28 00:18:44+00:00 2025-12-28 11:58:09+00:00       4412
 31      2025-12-28 12:39:45+00:00 2025-12-28 23:48:09+00:00       4927
 32      2025-12-29 04:07:59+00:00 2025-12-29 05:35:52+00:00        115
 33      2025-12-29 06:21:28+00:00 2025-12-29 07:34:46+00:00        123
 34      2025-12-29 08:17:06+00:00 2025-12-29 09:32:07+00:00         88
 35      2025-12-29 12:42:06+00:00 2025-12-29 22:55:49+00:00       5493
 4                             NaT                       NaT        535

In [29]:
most_recent_storm = df[df['lastserviced'] > '2025-12-26 18:18:15']

In [78]:
df.head()

,snapshot_ts,OBJECTID,snowrouteid,snowroutesegmentid,roadname,routepriority,roadclass,segmentlength,servicestatus,lastserviced,lastserviceleft,lastserviceright,passes,passesleft,passesright,eventid,eventphaseid,gap,new_event,event_id
0,2025-12-26T19:01:45.962242+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-23 09:36:59+00:00,1.766483e+12,1.766482e+12,85.0,38.0,47.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,NaT,False,0
1,2025-12-26T19:01:45.962242+00:00,15057,Route 2,SNW-1366,WASHINGTON SQ,Priority 2,NaN,0.081240,Not Serviced,2025-12-23 09:58:45+00:00,1.766484e+12,1.764929e+12,46.0,44.0,2.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,0 days 00:21:46,False,0
2,2025-12-26T19:01:45.962242+00:00,15058,NaN,SNW-1986,GEBHARDT AV,Priority 2,NaN,0.096979,Not Serviced,2025-11-11 04:22:02+00:00,NaN,1.762835e+12,1.0,0.0,1.0,ab0df3e4-3af3-42b9-b403-fa75d2d30acc,No Phase,-43 days +18:23:17,False,-1
3,2025-12-26T19:01:45.962242+00:00,15059,Route 18,SNW-1367,WOLF ST,Priority 1,NaN,0.091543,Not Serviced,2025-12-23 09:30:06+00:00,1.766482e+12,1.766482e+12,81.0,36.0,45.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,42 days 05:08:04,True,0
4,2025-12-26T19:01:45.962242+00:00,15060,Route 10,SNW-1987,DOUGLAS ST,Priority 2,NaN,0.171374,Not Serviced,2025-12-22 07:04:05+00:00,1.765770e+12,1.766387e+12,27.0,12.0,15.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,-2 days +21:33:59,False,1

In [35]:
first_service = (
    most_recent_storm
      .groupby(["event_id", "snowroutesegmentid"], as_index=False)
      .agg(
          first_serviced_at=("lastserviced", "min")
      )
)

In [37]:
first_service["service_rank"] = (
    first_service
        .groupby("event_id")["first_serviced_at"]
        .rank(method="dense", ascending=True)
        .astype(int)
)
first_service

      event_id snowroutesegmentid         first_serviced_at  service_rank
0           -1            SNW-409 2025-12-29 10:16:06+00:00             1
1           17             SNW-10 2025-12-27 22:04:05+00:00          2946
2           17            SNW-100 2025-12-27 06:31:30+00:00          1684
3           17           SNW-1000 2025-12-27 22:03:24+00:00          2942
4           17           SNW-1001 2025-12-27 22:59:35+00:00          3058
...        ...                ...                       ...           ...
9714        35            SNW-985 2025-12-29 21:36:17+00:00          1876
9715        35            SNW-986 2025-12-29 20:23:28+00:00          1557
9716        35            SNW-987 2025-12-29 22:38:25+00:00          2054
9717        35            SNW-988 2025-12-29 20:20:16+00:00          1531
9718        35            SNW-993 2025-12-29 20:22:48+00:00          1551

[9719 rows x 4 columns]

In [38]:
most_recent_storm = most_recent_storm.merge(
    first_service,
    on=["event_id", "snowroutesegmentid"],
    how="left"
)

In [39]:
event_ranking = (
    first_service
        .query("event_id == 35")  # or whichever event
        .sort_values("service_rank")
)

In [75]:
df.head()

,snapshot_ts,OBJECTID,snowrouteid,snowroutesegmentid,roadname,routepriority,roadclass,segmentlength,servicestatus,lastserviced,lastserviceleft,lastserviceright,passes,passesleft,passesright,eventid,eventphaseid,gap,new_event,event_id
0,2025-12-26T19:01:45.962242+00:00,15056,Route 26,SNW-479,OAK ST,Priority 1,NaN,0.088241,Not Serviced,2025-12-23 09:36:59+00:00,1.766483e+12,1.766482e+12,85.0,38.0,47.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,NaT,False,0
1,2025-12-26T19:01:45.962242+00:00,15057,Route 2,SNW-1366,WASHINGTON SQ,Priority 2,NaN,0.081240,Not Serviced,2025-12-23 09:58:45+00:00,1.766484e+12,1.764929e+12,46.0,44.0,2.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,0 days 00:21:46,False,0
2,2025-12-26T19:01:45.962242+00:00,15058,NaN,SNW-1986,GEBHARDT AV,Priority 2,NaN,0.096979,Not Serviced,2025-11-11 04:22:02+00:00,NaN,1.762835e+12,1.0,0.0,1.0,ab0df3e4-3af3-42b9-b403-fa75d2d30acc,No Phase,-43 days +18:23:17,False,-1
3,2025-12-26T19:01:45.962242+00:00,15059,Route 18,SNW-1367,WOLF ST,Priority 1,NaN,0.091543,Not Serviced,2025-12-23 09:30:06+00:00,1.766482e+12,1.766482e+12,81.0,36.0,45.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,42 days 05:08:04,True,0
4,2025-12-26T19:01:45.962242+00:00,15060,Route 10,SNW-1987,DOUGLAS ST,Priority 2,NaN,0.171374,Not Serviced,2025-12-22 07:04:05+00:00,1.765770e+12,1.766387e+12,27.0,12.0,15.0,0a4138c6-cc5c-4cba-a7b0-3c06695345ef,0a4138c6-cc5c-4cba-a7b0-3c06695345ef-2,-2 days +21:33:59,False,1

In [62]:
import pandas as pd
import numpy as np

df = df.copy()

# ensure datetime
df["lastserviced"] = pd.to_datetime(df["lastserviced"], utc=True, errors="coerce")

# define "serviced" (adjust if you have a better signal)
SERVICED = df["lastserviced"].notna()

In [63]:

# keep a stable priority per segment (take most common non-null within event)
def mode_nonnull(s):
    s = s.dropna()
    return s.mode().iloc[0] if len(s) else np.nan

seg_event = (
    df.loc[SERVICED]
      .groupby(["event_id", "snowroutesegmentid"], as_index=False)
      .agg(
          first_serviced_at=("lastserviced", "min"),
          routepriority=("routepriority", mode_nonnull),
          snowrouteid=("snowrouteid", mode_nonnull),
          roadname=("roadname", mode_nonnull),
      )
)

# helpful: parse priority number (Priority 1/2/3 -> 1/2/3)
seg_event["priority_n"] = (
    seg_event["routepriority"]
      .astype(str)
      .str.extract(r"(\d+)")[0]
      .astype(float)
)

In [64]:
seg_event

,event_id,snowroutesegmentid,first_serviced_at,routepriority,snowrouteid,roadname,priority_n
0,-1,SNW-107,2025-12-19 04:20:48+00:00,Priority 1,Route 1,SPENCER ST,1.0
1,-1,SNW-1111,2025-11-11 15:15:43+00:00,Priority 2,Route 2,HARBORSIDE DR,2.0
2,-1,SNW-1152,2025-11-29 09:05:06+00:00,Priority 2,Route 18,COURT TER,2.0
3,-1,SNW-1225,2025-11-11 15:14:53+00:00,Priority 2,Route 2,HARBORSIDE DR,2.0
4,-1,SNW-1284,2025-11-11 04:00:56+00:00,Priority 2,NaN,COMMONWEALTH AV,2.0
...,...,...,...,...,...,...,...
14183,35,SNW-985,2025-12-29 21:36:17+00:00,Priority 2,Route 2,HILLSIDE ST,2.0
14184,35,SNW-986,2025-12-29 20:23:28+00:00,Priority 2,Route 25,LOMA AV,2.0
14185,35,SNW-987,2025-12-29 22:38:25+00:00,Priority 1,Route 17,HIAWATHA BLVD E,1.0
14186,35,SNW-988,2025-12-29 20:20:16+00:00,Priority 1,Route 25,WOLF ST,1.0
14187,35,SNW-993,2025-12-29 20:22:48+00:00,Priority 2,Route 2,HILLSIDE ST,2.0

In [65]:
seg_event["rank_in_event"] = (
    seg_event.groupby("event_id")["first_serviced_at"]
             .rank(method="dense", ascending=True)
             .astype(int)
)

# percentile: 0=earliest, 1=latest
seg_event["pct_in_event"] = (
    seg_event.groupby("event_id")["first_serviced_at"]
             .rank(method="average", pct=True, ascending=True)
)

In [66]:
import numpy as np
import pandas as pd

def weighted_mean(x, w):
    x = np.asarray(x, dtype="float64")
    w = np.asarray(w, dtype="float64")
    m = np.isfinite(x) & np.isfinite(w)
    if m.sum() == 0:
        return np.nan
    return float((x[m] * w[m]).sum() / w[m].sum())

def mode_nonnull(s):
    s = s.dropna()
    if s.empty:
        return np.nan
    m = s.mode()
    return m.iloc[0] if not m.empty else s.iloc[0]

In [67]:
priority_weight = {1: 3.0, 2: 2.0, 3: 1.0}
seg_event["w"] = seg_event["priority_n"].map(priority_weight).fillna(1.0)

In [68]:
tmp = seg_event[["snowroutesegmentid", "pct_in_event", "w"]].copy()
tmp["xw"] = tmp["pct_in_event"] * tmp["w"]

global_pct = (
    tmp.groupby("snowroutesegmentid", as_index=False)
       .agg(sum_xw=("xw", "sum"), sum_w=("w", "sum"))
)
global_pct["typical_pct"] = global_pct["sum_xw"] / global_pct["sum_w"]
global_pct = global_pct.drop(columns=["sum_xw", "sum_w"])

In [69]:
meta = (
    seg_event.groupby("snowroutesegmentid", as_index=False)
             .agg(
                 events_seen=("event_id", "nunique"),
                 median_priority=("priority_n", "median"),
                 roadname=("roadname", mode_nonnull),
                 snowrouteid=("snowrouteid", mode_nonnull),
                 routepriority=("routepriority", mode_nonnull),
             )
)

global_segment = (
    meta.merge(global_pct, on="snowroutesegmentid", how="left")
        .sort_values("typical_pct", ascending=True)
        .reset_index(drop=True)
)

global_segment["global_rank"] = np.arange(1, len(global_segment) + 1)
global_segment["global_pctile"] = global_segment["typical_pct"]  # 0 early â†’ 1 late

In [70]:
global_segment[["snowroutesegmentid","routepriority","global_rank","global_pctile","events_seen"]].head(10)
global_segment[["snowroutesegmentid","routepriority","global_rank","global_pctile","events_seen"]].tail(10)

     snowroutesegmentid routepriority  global_rank  global_pctile  events_seen
4489           SNW-4033    Priority 2         4490       0.995408            1
4490           SNW-3980    Priority 2         4491       0.998852            1
4491           SNW-1905    Priority 2         4492       1.000000            1
4492           SNW-4690    Priority 2         4493       1.000000            1
4493           SNW-4467    Priority 2         4494       1.000000            1
4494           SNW-3981    Priority 2         4495       1.000000            1
4495           SNW-5033    Priority 2         4496       1.000000            1
4496           SNW-2597    Priority 2         4497       1.000000            1
4497           SNW-4877    Priority 2         4498       1.000000            1
4498           SNW-3785    Priority 2         4499       1.000000            1

In [77]:
global_segment[global_segment['snowroutesegmentid']=='SNW-409']

,snowroutesegmentid,events_seen,median_priority,roadname,snowrouteid,routepriority,typical_pct,global_rank,global_pctile
261,SNW-409,8,2.0,CANAL ST,Route 2,Priority 2,0.225987,262,0.225987

      event_id snowroutesegmentid         first_serviced_at  service_rank
8464        35            SNW-303 2025-12-29 12:42:06+00:00             1
9196        35            SNW-450 2025-12-29 12:42:16+00:00             2
9189        35            SNW-449 2025-12-29 12:42:34+00:00             3
9042        35            SNW-418 2025-12-29 12:43:29+00:00             4
8778        35            SNW-364 2025-12-29 12:43:56+00:00             5
...        ...                ...                       ...           ...
9567        35            SNW-673 2025-12-29 22:54:14+00:00          2120
7986        35           SNW-2091 2025-12-29 22:54:36+00:00          2121
7553        35            SNW-113 2025-12-29 22:55:07+00:00          2122
7550        35            SNW-112 2025-12-29 22:55:25+00:00          2123
9618        35            SNW-770 2025-12-29 22:55:49+00:00          2124

[2225 rows x 4 columns]

In [1]:
import json
from pathlib import Path

geojson_path = Path(r"winter_operations_snow_routes_layer0.geojson")

with open(geojson_path, "r", encoding="utf-8") as f:
    gj = json.load(f)

type(gj), gj.keys(), len(gj["features"])

(dict, dict_keys(['type', 'features']), 5018)

In [2]:
import pandas as pd

props = pd.DataFrame([feat["properties"] for feat in gj["features"]])

props.shape, props.columns.tolist()[:30]

((5018, 25),
 ['OBJECTID',
  'snowrouteid',
  'roadname',
  'routepriority',
  'globalid',
  'roadclass',
  'segmentlength',
  'T_AUTOMOBILES',
  'F_AUTOMOBILES',
  'snowroutesegmentid',
  'servicestatus',
  'lastserviced',
  'lastserviceleft',
  'lastserviceright',
  'passes',
  'passesleft',
  'passesright',
  'parkingrestrictionleft',
  'parkingrestrictionright',
  'servicedistricts',
  'eventid',
  'eventphaseid',
  'passes_phase',
  'passesleft_phase',
  'passesright_phase'])